.dropdown-container {
  display: inline;
  position: relative;
  overflow: visible;
}

.dropdown-content {
  position: absolute;
  top: 100px;
  right: 0;
  background: white;

  text-align: center;
  min-width: 100px;
  display: none;
}

.dropdown-content a {
  display: block;
}
.dropdown-container:hover .dropdown-content {
  display: block;

  top: 25px;
  transition: opacity 0.3s ease-in-out;
}
